<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="text-uppercase"><span class="d-none d-md-inline">Vseh primerov</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3>3</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="text-uppercase"><span class="d-none d-md-inline">Trenutno v bolnišnici</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3>3</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="text-uppercase"><span class="d-none d-md-inline">Mrtvi</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3>3</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="text-uppercase"><span class="d-none d-md-inline">Ozdravljeni</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3>3</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<h1>Naslov</h1>
<div id="chart"></div>